@charset "UTF-8";



.image {
    width: 1000px;
  min-height: 850px;
  background-image: url("../images/night.jpg");
  background-position: center center;
  background-size: cover;
    background-repeat: no-repeat;
background-attachment: fixed;
    
}
    nav {
   margin-top: 0px;
        margin-left: 0px;
}
nav li{
   float: left;
    padding-top: 0px;
    padding-left: 0px;
    list-style-type: none;
    margin-left: 135px;
    font-family:cursive;
    
}
nav a {
    text-decoration: none;
    color: white;
    padding: 0px;
    border-radius: 8px;
    transition: 0.5s;
    font-size: 20px;
    color: palegoldenrod;

   display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;

}

nav a:hover{
   color: white;
 -webkit-transform: scale(1.8,0);
    -moz-transform: scale(1.8,0);
    -o-transform: scale(1.8,0);
    -ms-transform: scale(1.8,0);
    transform: scale(1.2,1.2);

}

.text-anime3{
  color: dodgerblue;
  animation: text_animation3 3s;
}

@keyframes text_animation3{
  0%{
    letter-spacing: -0.5em;
    transform: translateY(-1000px);
  }

  50%{
    letter-spacing: -0.5em;
    transform: none;
  }

  100%{
    letter-spacing: 0;
  }
}

div#section_box {
	margin: 0px 0 0px 0;
	width: 900px;
    height: 1000px;
    float: left;
    
}

div#section_box h3 {
	font-weight: bold;
	margin: 0px 80px;
    font-size: 30px;
    margin-top: 100px;
}


div#section_box dl{
	margin: 16px 0px;
	overflow: scroll;
    color: white;
}

div#section_box dt{
	clear: none;
	width: 50px;
	float: left;
	padding: 12px 0px 0px 0px;
	font-weight: bold;
}

div#section_box dd{
	padding: 12px 0px 12px 20px;
	width: 350px;

}

.col-3 {
  /* 3カラムの設定です */
  width: 200px;
  padding: 10px;
  float: left;
  overflow: scroll;
  /* コメントアウトの仕方は、「command + /」または「ctrl + /」 */
  /* ここからレイアウトが組み終わったらコメントアウトをする */
  height: 400px;
  margin-bottom: 10px;

  /* ここまでレイアウトが組み終わったらコメントアウトをする */
}

.col-4 {
  /* 3カラムの設定です */
  width: 800px;
  padding: 10px;
    padding-top: 120px;
    padding-left: 0px;
  float: left;
  overflow: scroll;
  /* コメントアウトの仕方は、「command + /」または「ctrl + /」 */
  /* ここからレイアウトが組み終わったらコメントアウトをする */
  height: 400px;
  margin-bottom: 10px;

  /* ここまでレイアウトが組み終わったらコメントアウトをする */
}
.article {
  min-height: 480px;
width: 420px;

}

.article img {
  /* .articleクラスの下にある画像のサイズです */
  width: 400px;
  height: 400px;
    padding: 0px;
    background: #fff;
    border-radius: 300px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #222;
	font-family: Georgia, serif;
	color: #fff;
	font-size: 14px;
}

a {
	color: #ffffcc;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #ffcc00;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
        padding-top: 80px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 800px;
		height: 850px;
		overflow: hidden;
		margin: 100px auto;
        padding-top: 100px;
		position: relative;
		background: url('../imageswow/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('../imageswow/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 800px;
			height: 550px;
			overflow: hidden;
        
		}	
			#issues li {
				width: 800px;
				height: 800px;
				list-style: none;
				float: left;
               
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
                    border-radius: 300px;
                    height: 260px;
                    width: 260px;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					margin: 20px 0;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
					text-shadow: #000 1px 1px 2px;
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('../imageswow/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../imageswow/grad_right.png') repeat-y;
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../imageswow/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../imageswow/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}